.footer {
   background-color: $color-secondary;
   grid-column: full-start / full-end;

   padding: 8rem;
}

.nav {
   list-style: none;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   grid-gap: 2rem;
   align-items: center;

   &__link:link,
   &__link:visited {
      font-family: $font-display;
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .2s;
      display: block;
      padding: 1.5rem;
      backface-visibility: hidden;
      text-align: center;
   }

   &__link:hover,
   &__link:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
   }
}

.copyright {
   width: 70%;
   font-size: 1.4rem;
   color: $color-grey-light-2;
   margin-top: 6rem;
   margin-right: auto;
   margin-left: auto;
   text-align: center;

   &__link:link,
   &__link:visited {
      color: $color-grey-light-2;
      text-decoration: none;
      transition: .1s;
   }

   &__link:hover,
   &__link:active {
      color: $color-primary-dark;
      text-decoration: underline;
   }
}